// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post{
  width : 70vw;
  border: 1px solid #333333;
  font-size: 15px;
  margin: 30px;
}